%% Linked-in driver config
%%
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
%%
{cover_enabled, true}.

{erl_opts, [warnings_as_errors]}.

{port_specs, [{"priv/erlang_js_drv.so", ["c_src/*.c"]}]}.

{port_env, [
             {"DRV_CFLAGS", "$DRV_CFLAGS `pkg-config libjs --cflags`"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS `pkg-config libjs --libs`"},

             %% Define flags for enabling/disable 64 bit build of NSPR
             {"-32$", "NSPR_SIXTYFOUR", "--disable-64bit"},
             {"-64$", "NSPR_SIXTYFOUR", "--enable-64bit"},

             %% Solaris specific flags
             {"solaris.*", "DRV_LDFLAGS", "$DRV_LDFLAGS -lrt"},
             {"solaris.*-64$", "CFLAGS", "-m64"},
             {"solaris.*-64$", "LDFLAGS", "-m64"},

             %% OS X Leopard flags for 64-bit
             {"darwin9.*-64$", "CFLAGS", "-m64"},
             {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

             %% OS X Snow Leopard flags for 32-bit
             {"darwin10.*-32$", "CFLAGS", "-m32"},
             {"darwin10.*-32$", "LDFLAGS", "-arch i386"},

             %% OS X Mountain Lion flags.
             {".*darwin12.4.*$", "CFLAGS", "-m64"},
             {".*darwin12.4.*$", "LDFLAGS", "-arch x86_64"},

             %% Prevent the make->gmake transition from infecting
             %% MAKEFLAGS with bad flags that confuse gmake
             {"freebsd.*", "MAKEFLAGS", ""}

            ]}.
